<button mat-icon-button style="float: right;
margin: 5px;" matDialogClose>
    <mat-icon>close</mat-icon>
</button>
<mat-dialog-content>
    <header>
        <h1>Update</h1>
    </header>
    <p><mat-form-field>
        <input matInput placeholder="Question" #question [value]="data.question">
        <mat-icon matSuffix>casino</mat-icon>
    </mat-form-field></p>
    <p><mat-form-field>
        <input matInput placeholder="Answer" #answer [value]="data.answer">
        <mat-icon matSuffix>description</mat-icon>
    </mat-form-field></p>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-raised-button color="primary" (click)="updateFlashCard(answer,question)">Update</button>
    <button mat-raised-button color="Warn" matDialogClose>Cancel</button>
</mat-dialog-actions>