.container {
  min-height: 91vh;
  height: auto;
  margin: 0;
}

.container {
  padding: 4vh;
}

.icon:hover {
  cursor: pointer;
}

.eliminar:hover {
  color: #B91010;
}
.editar:hover {
  color: #024abd;
}