<div fxLayout="column">
  <mat-card>
    <mat-card-header fxFlexAlign="center">
      <mat-card-title>{{topic.name}}</mat-card-title>
    </mat-card-header>
    <mat-card-content fxFlexAlign="center">
      <div fxLayout="column">
        <mat-form-field>
          <mat-label>Question</mat-label>
          <input matInput #question/>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Answer</mat-label>
          <input matInput #answer/>
        </mat-form-field>
      </div>
    </mat-card-content>
    <mat-card-actions fxFlexAlign="center">
        <button mat-button (click)="postFlashCard(question.value, answer.value)">Save</button>
        <button mat-button>Cancel</button>
    </mat-card-actions>
  </mat-card>
</div>
